<template>
  <div :class="['graph-col-6 graph-col-s-6 graph-col-lg-6 second', radioVal.length ? '': 'pad-top']">
    <div class="secondrow" v-if="radioVal.length">
      <div class="secondrow-wrapper" v-for="(i, index) in getRadioData" :key="index">
        <div class="secondrowcol" @click="radiobuttun(i, index)">
            <input type="radio" class="radio-check-data" :name="i['name']" :value="getRadioDataValue(index)" data-waschecked="false" v-model="radioVal[index]" />
            <label for="login1for" :class="['login1level', i['color'], radioVal[index]? 'selected': '']" id="login1id">{{i['name']}}</label>
        </div>
    </div>
    </div>
    <span :id="newGraphData[0].areagraphid" class="graph-form"></span>
    <div class="graph-row formrowstyle">
      <div class="dropdown-wrapper colstyle">
        <div class="dropdown-col" v-for="(i, index) in getDropdownData" :key="index">
          <label class="graph-label">{{i.label}} </label>
          <MDropdown class="drop-wrap-graph" :selected="i.selected" :itemList="i.itemlist" :mSelectProperty="mDropdownProperty" :placeholder="i.label" @on-item-selected="setData($event, index)" @on-item-reset="setData($event, index)"/>
        </div>
      </div>
    </div>
</div>
</template>
<script>

const d3 = require("d3");
window.d3 = d3
import { MDropdown } from "mobiotics-dynamic-components-vue"

export default {
//   props: ['info'],
  data () {
    return {
      responseHeaderData: [],
      newGraphData: [],
      radioVal: [],
      mDropdownProperty: {}
    }
  },
  props: {
     graphData: {
        type: [Object, Boolean, Array],
        default: false
     }
  },
  components: {
    MDropdown
  },
  watch: {
    graphData () {
        this.newGraphData = [...this.graphData]
        this.HeaderCall(this.newGraphData)
        this.radioVal = []
        if (this.newGraphData[0]['radioData']) {
          for (let i in this.newGraphData[0]['radioData']) {
            this.radioVal.push(this.newGraphData[0]['radioData'][i]['value'])
          }
        }
     }
    //  graphVal (newVal, oldVal) {
    //     console.log('newgraphval', newVal, oldVal)
    //  },
    //  anotherGraphVal (newVal, oldVal) {
    //     console.log('newgd')
    //  }
  },
  created () {
     this.newGraphData = [...this.graphData]
     this.HeaderCall(this.newGraphData)
     if (this.newGraphData[0]['radioData']) {
        for (let i in this.newGraphData[0]['radioData']) {
          this.radioVal.push(this.newGraphData[0]['radioData'][i]['value'])
        }
     }
     this.mDropdownProperty = {
       defaultProperty: {
        width: '120px'
      },
      inputProperty: {
        width: '120px',
        height: '28px'
      },
      listProperty: {
        width: '120px',
        textAlign: 'left',
        margin: '0'
      }
     }
  },
  computed: {
    getRadioData () {
      return this.newGraphData[0]['radioData']
    },
    getDropdownData () {
      return this.newGraphData[0]['dropDownData']
    },
    graphVal () {
        return this.graphData[0].graphdata[0]
     },
     anotherGraphVal () {
        return this.graphData[0].graphdata
     }
  },
  mounted () {
    window.addEventListener('resize', this.resizeGraph)
  },
  methods: {
    HeaderCall (responsedata) {
      this.responseHeaderData = [...responsedata]
      this.createArea()
    },
    setData (data) {
      this.$emit('dropdownGraphData', data)
    },
    resizeGraph () {
      var margin = {top: 20, right: 60, bottom: 30, left: 30}
      var width1 = parseInt(window.d3.select('.second').style('width'), 10) - 15
      var width = width1 - margin.left - margin.right
      let chart = window.d3.select(`#${this.responseHeaderData[0].areagraphid}svgimg`)
      var targetWidth = width + margin.left + margin.right
      var height = 230 - margin.top - margin.bottom
      var targetHeight = height + margin.top + margin.bottom
      chart.attr("width", targetWidth)
      chart.attr("height", targetHeight)
    },
    radiobuttun (data, index) {
      let radioflag = 0
      for (let i in this.radioVal) {
        if (this.radioVal[i]) {
          radioflag += 1
        }
      }
      if (data.value) {
        if (radioflag > 1) {
          this.newGraphData[0]['radioData'][index]['value'] = false
          this.radioVal.splice(index, 1, false)
          window.d3.select(`.${this.newGraphData[0].areagraphid}line${index}`)
          .style('opacity', function () {
            return 0
          })
          window.d3.select(`.${this.newGraphData[0].areagraphid}dots${index}`).selectAll(`.${this.newGraphData[0].dotlass}`)
            .attr('r', 0)
        }
      } else {
        this.newGraphData[0]['radioData'][index]['value'] = true
        this.radioVal.splice(index, 1, true)
        window.d3.select(`.${this.newGraphData[0].areagraphid}line${index}`)
          .style('opacity', function () {
            return 1.4
          })
          window.d3.select(`.${this.newGraphData[0].areagraphid}dots${index}`).selectAll(`.${this.newGraphData[0].dotlass}`)
            .attr('r', 3.5)
      }
    },
    getRadioDataValue (index) {
      return this.newGraphData[0]['radioData'][index]['value']
    },
    createArea () {
      //  import('d3').then((res) => {
      //   window.d3 = res
      setTimeout(() => {
           this.responseHeaderData.forEach((item) => {
           this.areagraph(item)
        })
      }, 1000)
     
      // })
    },
    areagraph (prop) {
      var data = prop.graphdata
      var maxrange = prop.maxrange
      var color = prop.color
      // ************************************************************
      // Create Margins and Axis
      // ************************************************************
      var margin = {top: 20, right: 60, bottom: 30, left: 30}
      var width1 = parseInt(window.d3.select('.second').style('width'), 10) - 15
      var width = width1 - margin.left - margin.right
      var height = 230 - margin.top - margin.bottom
      var x = window.d3.scalePoint()
        .domain(prop.xaxisdata)
        .range([0, width])

      var y = window.d3.scaleLinear()
        .domain([0, maxrange + 30])
        .range([height, 0])
      var xAxis = window.d3.axisBottom(x)
        .ticks(7)
        .tickSize(-height)
        .tickPadding(10)
      var yAxis = window.d3.axisLeft(y)
        .ticks(5)
        .tickPadding(10)
        .tickSize(-width)
      var div = window.d3.select('body').append('div')
        .attr('class', prop.areagraphid)
        .style('opacity', 0)
      // *********************************************************
      // Generate our SVG object
      // *********************************************************
      var oldsvg = window.d3.select('#' + prop.areagraphid)
      oldsvg.selectAll('*').remove()
      var svg = window.d3.select('#' + prop.areagraphid).append('svg')
        .attr('id', `${prop.areagraphid}svgimg`)
        .attr('viewBox', `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`)
        .attr('perserveAspectRatio', 'xMinYMid')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')')
      svg.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0, ' + height + ')')
        .call(xAxis)
      svg.append('g')
        .attr('class', 'y axis')
        .call(yAxis)
      svg.append('clipPath')
        .attr('id', prop.clippathid)
        .append('rect')
        .attr('width', width)
        .attr('height', height)

      // *********************************************************
      // Create D3 area object and draw data on our SVG object
      // *********************************************************
      var line = window.d3.area()
        .curve(window.d3.curveCardinal)
        .x(function (d) { return x(d.index) })
        .y1(function (d) { return y(d.count) })
        .y0(y(0))
      svg.selectAll('.'+ prop.areagraphid +'line0', '.'+ prop.areagraphid +'line1', '.'+ prop.areagraphid +'line2', '.'+ prop.areagraphid +'line3')
        .data(data)
        .enter()
        .append('path')
        .attr('class', function (d, i) {
          return prop.areagraphid +'line' + [i]
        })
        .style('fill', function (d, i) { return color[i] })
        .style('fill-opacity', 0.1)
        .attr('clip-path', 'url(#' + prop.clippathid + ')')
        .attr('stroke', function (d, i) {
          return color[i % color.length]
        })
        .attr('stroke-opacity', 'none')
        .attr('d', function (d) {
          return line(d)
        })
      // ************************************************************
      // Draw points on SVG object based on the data given
      // ************************************************************
      var points = svg.selectAll('.'+ prop.areagraphid +'dots0', '.'+ prop.areagraphid +'dots1', '.'+ prop.areagraphid +'dots2', '.'+ prop.areagraphid +'dots3')
        .data(data)
        .enter()
        .append('g')
        .attr('class', function (d, i) {
          return prop.areagraphid +'dots' + [i]
        })
        .attr('clip-path', 'url(#' + prop.clippathid + ')')
      points.selectAll('.' + prop.dotlass)
        .data(function (d, index) {
          var a = []
          d.forEach(function (point) {
            a.push({'index': index, 'point': point})
          })
          //console.log('a', JSON.stringify(a))
          return a
        })
        .enter()
        .append('circle')
        .attr('class', prop.dotlass)
        .attr('r', 3.5)
        .attr('fill', function (d) {
          return color[d.index % color.length]
        })
        .attr('transform', function (d) {
          return 'translate(' + x(d['point']['index']) + ',' + y(d['point']['count']) + ')'
        })
        .style('stroke', 'white')
        .style('stroke-width', 1.5)
        .on('mouseover', function (d) {
          d3.select(this).style('cursor', 'pointer')
          div.transition()
            .duration(200)
            .style('opacity', 0.9)
            .style("background",color[d.index%color.length])
          div.html('<p>' + d.point.count + '</p>')
            .style('left', (window.d3.event.pageX) + 'px')
            .style('top', (window.d3.event.pageY - 28) + 'px')
        })
        .on('mouseout', function () {
          d3.select(this).style('cursor', 'default')
          div.transition()
            .style('opacity', 0.0)
            .style('background', 'yellow')
          div.html('')
        })
    }
  }
}
</script>
<style scoped lang="scss">
//   @import 'mediaquery.css';
//   @import 'bodyrightsection.css';
  .levelstyle {
    float: left;
    padding-left: 14%;
  }
  .graph-form {
    padding-left: 2em;
  }
  .second {
    &.pad-top {
      padding-top: 47px;
    }
    .formrowstyle {
      height: 75px;
      .dropdown-wrapper {
        display: flex;
        margin-left: 35px;
        .dropdown-col {
          margin: 0 8px;
          .graph-label {
            font: 12px/15px "Helvetica Neue Medium";
            text-align: left;
            display: block;
            padding-left: 8px;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
  .secondrow {
    display: flex;
    padding: 20px 0 0 44px;
    .secondrowcol {
      min-width: 100px;
      width: auto;
      input {
        display: none;
      }
      label {
        position: relative;
        color: rgb(135, 145, 159);
        font-size: 13px;
        &.selected {
          color: #1e1e1e;
        }
      }
    }
    .radio-check-data {
      + label {
        &:before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          padding: 1px;
          position: absolute;
          left: -22px;
          background-clip: content-box;
          border: 2px solid #87919F;
          background-color: #FFFFFF;
          border-radius: 50%;
          margin-top: 2px;
          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      + label {
        &.selected {
          &.color-red {
            &:before {
              background-color: #ff6363;
              border: 2px solid #ff6363;
            }
          }
          &.color-aqua {
            &:before {
              background-color: #2ebabf;
              border: 2px solid #2ebabf;
            }
          }
          &.color-blue {
            &:before {
              background-color: #579FFF;
              border: 2px solid #579FFF;
            }
          }
          &.color-yellow {
            &:before {
              background-color: #F8BC1B;
              border: 2px solid #F8BC1B;
            }
          }
          &.color-green {
            &:before {
              background-color: #25E4B1;
              border: 2px solid #25E4B1;
            }
          }
          &.color-light-blue {
            &:before {
              background-color: #9AC5FF;
              border: 2px solid #9AC5FF;
            }
          }
          &.color-orange {
            &:before {
              background-color: #FFA179;
              border: 2px solid #FFA179;
            }
          }
          &.color-surround {
            &:before {
              background-color: #FFA762;
              border: 2px solid #FFA762;
            }
          }
          &.color-hd {
            &:before {
              background-color: #FFB106;
              border: 2px solid #FFB106;
            }
          }
          &.color-fourk {
            &:before {
              background-color: #9E74FF;
              border: 2px solid #9E74FF;
            }
          }
        }
      }
    }
  }
  </style>
  <style>
  .selectstyle {
    color: #1F2631;
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
    background-color: white;
    box-sizing: border-box;
    height: 28.5px;
    width: 74%;
    border: 1px solid #E9EDF3;
    border-radius: 3px;
  }
  .secondrowcol {
    cursor: pointer;
  }
  .secondrow {
    margin-top: 12px;
  }
  .subscriberdot,.devicedot,.subscriptiondot,.billdot,.parchasesdot,.coupondot,.redemptiondot {
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
  }
  .subscriberdot,.devicedot,.subscriptiondot,.billdot,.parchasesdot,.coupondot,.redemptiondot:hover {
    stroke: rgba(68, 127, 255, 0.3);
  }
  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
  }
  .grid path {
    stroke-width: 0;
  }
  .axis path {
    fill: none;
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
  }
  .axis text {
    fill: #9BA0AD;
    font-family: "Helvetica Neue";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }
  .axis line {
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
  }
  .axis .axis-label {
    font-size: 14px;
  }
  .area {
    fill:none;
  }
  div.subscriber,div.device,div.subscription,div.bill,div.parchases,div.coupon,div.redemption, div.provider {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border: 0px;
    border-radius: 8px;
    font-family: var(--font-bold);
  }
  .subscriber p,.device p,.subscription p,.bill p,.parchases p,.coupon p,.redemption p, .provider p {
    margin: 0;
    padding: 0;
    font-family: var(--font-bold);
  }
</style>
