.centerbody {
    height: 170px;
    width: 250px;
    background-color: var(--white);
    margin: 0%;
    padding-top: 10px;
    font-family: var(--font-bold);
  }
  .card-span {
    height: 76px;
    width: 165px;
    border-radius: 2px;
    background-color: #FBFBFC;
    box-shadow: 0 1px 3px 0 rgba(133,141,157,0.4);
    display: inline-grid;
    line-height: 20px;
    padding: 16px;
    font-family: var(--font-bold);
  }
  .lefthead {
    color: var(--primary-blue);
    font-family: var(--font-regular);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 80px;
    float: left;
    padding-left: 35%;
  }
  .righthead {
    color: var(--primary-blue);
    font-family: var(--font-regular);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
    line-height: 80px;
  }
  .righthead1 {
    color: #9BA0AD;
    font-family: var(--font-regular);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    line-height: 80px;
  }
  .cardtext {
    color: #9BA0AD;
    font-family: var(--font-regular);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
  }
  .cardvalue {
    opacity: 0.6;
    color: #303B4B;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-family: var(--font-bold);
  }
  .subscriberline0,.subscriberline1,.subscriberline2,.deviceline0,.deviceline1,
  .subscriptionline0,.subscriptionline1,.subscriptionline2,.subscriptionline3,
  .billline0,.billline1,.parchasesline0,.parchasesline1,.couponline0,.couponline1,
  .redemptionline0,.redemptionline1 {
    fill: none;
    stroke-width: 1px;
    opacity: none;
  }
  .levelstyle {
    /* position: relative;
    left: -19%; */
    color: #303B4A;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 12px;
    font-family: var(--font-bold);
  }
  .formrowstyle {
    height: 71px;
    border-radius: 0 0 32px 32px;
    background-color: #f8fafb;
    position: relative;
    left: -2rem;
    font-family: var(--font-bold);
  }
  .colstyle {
    padding-top: 12px;
  }
  .selectstyle {
    color: #1F2631;
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
    background-color: white;
    box-sizing: border-box;
    height: 28.5px;
    width: 74%;
    border: 1px solid #E9EDF3;
    border-radius: 3px;
  }
  .optionstyle {
    box-sizing: border-box;
    height: 25.59px;
    width: 115px;
    border: 1px solid #E9EDF3;
    border-radius: 3px;
    background-color: var(--white);
    font-family: var(--font-bold);
  }
  /*graph css */
    *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .login1level,.deviceactivelevel,.signuplevel,.deviceinactivelevel,
  .subscriptionactivelevel,.subscriptiontriallevel,.subscriptioncancellevel,.subscriptionexpiredlevel,
  .parchasesactivelevel,.parchasescancellevel,.billpendinglevel,.billpaidlevel,.couponactivelevel,.couponexpiredlevel,
  .redemptionpurchagelevel,.redemptionsubscriptionlevel {
    color: black;
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;
  }
  #login1,
  #signup,
  #deviceinactive,
  #deviceactive,
  #subscriptionactive,
  #subscriptiontrial,
  #subscriptioncancel,
  #subscriptionexpired,
  #parchasesactive,
  #parchasescancel,
  #billpaid,
  #billpending,
  #couponactive,
  #couponexpired,
  #redemptionpurchage,
  #redemptionsubscription {
    display: none;
  }
  #login1 + label:before,
  #signup + label:before,
  #deviceinactive + label:before,
  #deviceactive + label:before,
  #subscriptionactive + label:before,
  #subscriptiontrial + label:before,
  #subscriptioncancel + label:before,
  #subscriptionexpired + label:before,
  #parchasesactive + label:before,
  #parchasescancel + label:before,
  #billpaid + label:before,
  #billpending + label:before,
  #couponactive + label:before,
  #couponexpired + label:before,
  #redemptionpurchage + label:before,
  #redemptionsubscription + label:before {
    content: "";
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px;
    position: absolute;
    right: 29px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid var(--light-grey);
    background-color: var(--white);
    border-radius: 50%;
    margin-top: 2px;
  }
    #login1 + label:before {
    margin-right: 28px;
  }
    #signup + label:before {
    margin-right: 40px;
  }
    #deviceactive + label:before {
    margin-right: 28px;
  }
    #deviceinactive + label:before {
    margin-right: 40px;
  }
    #subscriptionactive + label:before {
    margin-right: 28px;
  }
    #subscriptiontrial + label:before {
    margin-right: 42px;
  }
    #subscriptioncancel + label:before {
    margin-right: 59px;
  }
    #subscriptionexpired + label:before {
    margin-right: 37px;
  }
    #parchasesactive + label:before {
    margin-right: 62px;
  }
    #parchasescancel + label:before {
    margin-right: 59px;
  }
    #billpaid + label:before {
    margin-right: 12px;
  }
    #billpending + label:before {
    margin-right: 42px;
  }
    #couponactive + label:before {
    margin-right: 29px;
  }
    #couponexpired + label:before {
    margin-right: 38px;
  }
    #redemptionpurchage + label:before {
    margin-right: 62px;
  }
    #redemptionsubscription + label:before {
    margin-right: 86px;
  }
  /* appearance for checked radiobutton */
  #login1:checked + label:before,
  #subscriptionactive:checked + label:before,
  #deviceactive:checked + label:before,
  #parchasesactive:checked + label:before,
  #billpaid:checked + label:before,
  #couponactive:checked + label:before,
  #redemptionpurchage:checked + label:before {
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
  }
  /* appearance for checked radiobutton */
  #signup:checked + label:before,
  #deviceinactive:checked + label:before,
  #subscriptioncancel:checked + label:before,
  #parchasescancel:checked + label:before,
  #couponexpired:checked + label:before {
    background-color: var(--primary-red);
    border: 2px solid var(--primary-red);
  }
  /* appearance for checked radiobutton */
  #subscriptiontrial:checked + label:before {
    background-color: var(--light-blue);
    border: 2px solid var(--light-blue);
  }
  /* appearance for checked radiobutton */
  #subscriptionexpired:checked + label:before {
    background-color: var(--primary-orange);
    border: 2px solid var(--primary-orange);
  }
  /* appearance for checked radiobutton */
  #billpending:checked + label:before {
    background-color: var(--primary-yellow);
    border: 2px solid var(--primary-yellow);
  }
  /* appearance for checked radiobutton */
  #redemptionsubscription:checked + label:before {
    background-color: var(--light-green);
    border: 2px solid var(--light-green);
  }