<template>
<div>
   <div class="flex-container">
      <div class="first" v-for="(item, index) in responseHeaderData" :key="index">
         <div class="row">
            <div class="col-12 col-s-12 col-lg-12">
               <p class="head"><span class="headename">{{item.headername}}</span></p>
               <p class="centerbody"><span v-bind:class="item.piechartclass"></span></p>
               <div class="bottom">
                  <div class="row" v-if="item.headername !== 'mediaS'">
                     <div class="col-6 col-s-6 col-lg-6 colleft">
                        <span class="headfoodertext">{{item.footer.totalleft}}</span><br>
                        <span class="headfooderstatus">{{item.footer.left}}</span>
                        <br>
                        <span class="headfoodersign" v-if="item.headername == 'TICKETS'">
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#FF6363" radius="10"/>
                           </svg>
                        </span>
                        <span class="headfoodersign" v-else>
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#256FE4" radius="10"/>
                           </svg>
                        </span>
                     </div>
                     <div class="col-6 col-s-6 col-lg-6 colright">
                        <span class="headfoodertext">{{item.footer.totalright}}</span><br>
                        <span class="headfooderstatus">{{item.footer.right}}</span>
                        <br>
                        <span class="headfoodersign" v-if="item.headername == 'TICKETS'">
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#25E4B1" radius="10"/>
                           </svg>
                        </span>
                        <span class="headfoodersign" v-else>
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#FFCF2E" radius="10"/>
                           </svg>
                        </span>
                     </div>
                  </div>
                  <div class="row" v-else>
                     <div class="col-4 col-s-4 col-lg-4 colleft">
                        <span class="headfoodertext">{{item.footer.totalleft}}</span><br>
                        <span class="headfooderstatus">{{item.footer.left}}</span>
                        <br>
                        <span class="headfoodersign">
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#3286EA" radius="10"/>
                           </svg>
                        </span>
                     </div>
                     <div class="col-4 col-s-4 col-lg-4 colcenter">
                        <span class="headfoodertext">{{item.footer.totalcenter}}</span><br>
                        <span class="headfooderstatus">{{item.footer.center}}</span>
                        <br>
                        <span class="headfoodersign">
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#25E4B1" radius="10"/>
                           </svg>
                        </span>
                     </div>
                     <div class="col-4 col-s-4 col-lg-4 colright">
                        <span class="headfoodertext">{{item.footer.totalright}}</span><br>
                        <span class="headfooderstatus">{{item.footer.right}}</span>
                        <br>
                        <span class="headfoodersign">
                           <svg width="40" height="30">
                              <rect x="7" y="5" width="20" height="7" rx="5" ry="5"  fill="#FFA179" radius="10"/>
                           </svg>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</template>


<script>

export default {
//   props: ['info'],
  data () {
    return {
      responseHeaderData: []
    }
  },
  props: {
     donutProp: {
        type: [Object, Boolean],
        default: false
     }
  },
  watch: {
     donutProp () {
        this.HeaderCall(this.donutProp)
     }
  },
  created () {
     this.HeaderCall(this.donutProp)
  },
  methods: {
    HeaderCall (responsedata) {
      console.log(responsedata)
      this.responseHeaderData = [...responsedata]
      this.createDounut()
    },
    createDounut () {
       import('d3').then((res) => {
        window.d3 = res
        this.responseHeaderData.forEach((item) => {
           this.donutchart(item)
        })
      })
    },
    donutchart (prop) {
      var data = prop.chartdata
      let total = prop.totalcount
      let color = window.d3.scaleOrdinal(prop.color)
      var w = parseInt(window.d3.select('.centerbody').style('width'), 10)
      var h = 150
      var padding = 10
      var r = Math.min(w - padding, h - padding) / 2
      var oldsvg = window.d3.select('.' + prop.piechartclass)
      oldsvg.selectAll('*').remove()
      var vis = window.d3.select('.' + prop.piechartclass).append('svg:svg').data([data]).attr('width', w).attr('height', h).append('svg:g').attr('transform', 'translate(' + w / 2 + ',' + h / 2 + ')')
      var pie = window.d3.pie().startAngle(180).value(function (d) { return d.count })
      var arc = window.d3.arc()
        .innerRadius(47).outerRadius(r)
      var arcs = vis.selectAll('g.slice').data(pie).enter().append('svg:g').attr('class', 'slice')
      arcs.append('svg:path')
        .attr('fill', function (d, i) {
          return color(i)
        })
        .attr('d', function (d) {
          return arc(d)
        })
        .on('mouseenter', function (d, i) {
          window.d3.select('.'+prop.hoverclass[2]).remove()
          window.d3.select('.'+prop.hoverclass[3]).remove()
         //  window.d3.select('text.valuetext1').remove();
         //  window.d3.select('text.textvalue1').remove();
          let arcOver = window.d3.arc()
            .innerRadius(47).outerRadius(r + 4)
          window.d3.select(this)
            .attr('stroke', 'white')
            .transition()
            .duration(500)
            .attr('d', arcOver)
            .attr('stroke-width', 0)
            .style('cursor', 'pointer')
          window.d3.select('.'+prop.hoverclass[0]).html(i.data.count)
          window.d3.select('.'+prop.hoverclass[1]).html(i.data.name)
        })
        .on('mouseout', function () {
          window.d3.select('.'+prop.hoverclass[2]).remove()
          window.d3.select('.'+prop.hoverclass[3]).remove()
          window.d3.select(this).transition()
            .attr('d', arc)
            .attr('stroke', 'none')
          window.d3.select('.'+prop.hoverclass[0]).html(total)
          window.d3.select('.'+prop.hoverclass[1]).html('Total')
        })
      arcs.append('text')
        .attr('class', prop.hoverclass[0])
        .attr('text-anchor', 'middle')
        .attr('font-size', '1em')
        .attr('y', -3)
        .style('fill', '#1A1A1A')
        .style('font-family', 'Helvetica Neue Bold')
        .style('font-size', '18px')
        .style('font-weight', '500')
        .style('letter-spacing', 0)
        .style('line-height', '19px')
        .style('text-align', 'center')
        .html('')
      arcs.append('text')
        .attr('class', prop.hoverclass[1])
        .attr('text-anchor', 'middle')
        .attr('font-size', '1em')
        .attr('y', 15)
        .text('2')
        .style('fill', '#7F8797')
        .style('font-family', 'Helvetica Neue')
        .style('font-size', '12px')
        .style('font-weight', '500')
        .style('letter-spacing', 0)
        .style('line-height', '24px')
        .style('text-align', 'center')
        .html('')
      arcs.append('text')
        .attr('class', prop.hoverclass[2])
        .attr('text-anchor', 'middle')
        .attr('font-size', '1em')
        .attr('y', -3)
        .style('fill', '#1A1A1A')
        .style('font-family', 'Helvetica Neue Bold')
        .style('font-size', '18px')
        .style('font-weight', '500')
        .style('letter-spacing', 0)
        .style('line-height', '19px')
        .style('text-align', 'center')
        .html(total)
      arcs.append('text')
        .attr('class', prop.hoverclass[3])
        .attr('text-anchor', 'middle')
        .attr('font-size', '1em')
        .attr('y', 15)
        .style('fill', '#7F8797')
        .style('font-family', 'Helvetica Neue')
        .style('font-size', '12px')
        .style('font-weight', '500')
        .style('letter-spacing', 0)
        .style('line-height', '24px')
        .style('text-align', 'center')
        .html('Total')
    }
  }
}
</script>
<style scoped>
  @import './mediaquery.css';
  .colleft {
     padding-top: 10px;
  }
  .colcenter {
     border-left: 1px solid #dfdada;
     padding-top: 10px;
  }
  .colright {
     border-left: 1px solid #dfdada;
     padding-top: 10px;
  }
   .flex-container > .first {
      background-color: #f1f1f1;
      width: 100px;
      margin: 10px;
      text-align: center;
      height: 292.5px;
      width: 250px;
      border-radius: 12px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
   }
   .head {
      height: 51px;
      width: 250px;
      background-color: #F5F7F9;
      margin: 0%;
      padding-top: 14px;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
   }
   .bottom {
      height: 70.5px;
      width: 250px;
      background-color: #FBFBFD;
      margin: 0%;
      border-radius: 5px;
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.12);
   }
   .centerbody {
      height: 170px;
      width: 250px;
      background-color: #FFFFFF;
      margin: 0%;
      padding-top: 10px;
   }
   .headfoodertext {
      color: #1A1A1A;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 16px;
      text-align: center;
   }
   .headfooderstatus {
      color: #A1A1A1;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 16px;
      text-align: center;
   }
   .headename {
      color: #1A1A1A;;
      font-family: var(--font-bold);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 21px;
      text-align: center;
   }
</style>
