<template>
    <div class="col-6 col-s-6 col-lg-6 second">
        <div class="row">
        <div class="col-2 col-s-2 col-lg-2 leftstyle"><span class="lefthead colorblue">ACTIVE</span></div>
        <div class="col-8 col-s-8 col-lg-8"></div>
        <div class="col-2 col-s-2 col-lg-2 rightstyle"><span class="righthead1">TOTAL </span><span class="righthead colorblue" >200</span></div>
        </div>
        <div class="row">
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Daily</span><br><span class="cardvalue">20</span></div>
        </div>
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Weekly</span><br><span class="cardvalue1">20</span></div>
        </div>
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Monthly</span><br><span class="cardvalue2">20</span></div>
        </div>
        </div>
        <div class="row">
        <div class="col-2 col-s-2 col-lg-2 leftstyle"><span class="lefthead colorred">INACTIVE</span></div>
        <div class="col-8 col-s-8 col-lg-8"></div>
        <div class="col-2 col-s-2 col-lg-2 rightstyle"><span class="righthead1">TOTAL </span><span class="righthead colorred">2000</span></div>
        </div>
        <div class="row">
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Daily</span><br><span class="cardvalue">10</span></div>
        </div>
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Weekly</span><br><span class="cardvalue1">20</span></div>
        </div>
        <div class="col-4 col-s-4 col-lg-4">
            <div class="card-span"><span class="cardtext">Monthly</span><br><span class="cardvalue2">30</span></div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
  name: 'sectionleft',
    data () {
    return {
      responseBodyData: []
    }
  },
  props: {
    boxProp: {
      type: [Array, Object, Boolean],
      default: false
    }
  },
  watch: {
     boxProp () {
       let val = []
       if (Array.isArray(this.boxProp)) {
         for (let i in this.boxProp) {
           val.push(this.boxProp[i])
         }
       } else if (typeof this.boxProp === 'object') {
         val.push(this.boxProp)
       }
       this.responseBodyData.push(val)
     }
  },
  created () {
      // let subscriber = []
      // let subscriberdata = {}
      // subscriberdata.leftheadername = 'ACTIVE'
      // subscriberdata.leftheader = 'contenthrs'
      // subscriberdata.leftheaderstyleclass = 'colorblue'
      // subscriberdata.leftheaderdata = 100
      // subscriberdata.leftheaderdataclass = 'colorblue'
      // subscriberdata.blockdataname = [{name: 'Daily', value: 86, classstyle: 'card-title color1black'}, {name: 'Weekly', value: 54, classstyle: 'card-title color2black'}, {name: 'Monthly', value: 60, classstyle: 'card-title color3black'}]
      // subscriber.push(subscriberdata)
      // let subscriberdata1 = {}
      // subscriberdata1.leftheadername = 'INACTIVE'
      // subscriberdata1.leftheader = 'contenthrs'
      // subscriberdata1.leftheaderstyleclass = 'colorred'
      // subscriberdata1.leftheaderdata = 120
      // subscriberdata1.leftheaderdataclass = 'colorred'
      // subscriberdata1.blockdataname = [{name: 'Daily', value: 120, classstyle: 'card-title color1black'}, {name: 'Weekly', value: 350, classstyle: 'card-title color2black'}, {name: 'Monthly', value: 45, classstyle: 'card-title color3black'}]
      // subscriber.push(subscriberdata1)
      // this.responseBodyData.push(subscriber)
      // console.log(this.boxProp[0].leftheadername)
  },
  methods: {
  }
}
</script>
<style scoped>
  @import 'mediaquery.css';
  .leftstyle {
    float: left;
  }
  .rightstyle {
    float: right;
  }
  /* .card-span {
    height: 76px;
    width: 165px;
    border-radius: 2px;
    background-color: #FBFBFC;
    box-shadow: 0 1px 3px 0 rgba(133,141,157,0.4);
    display: inline-grid;
    line-height: 20px;
    padding: 16px;
    font-family: var(--font-bold);
    border-radius: 2px;
    background-color: #FBFBFC;
    box-shadow: 1px 1px 1px 0 rgba(133,141,157,0.27);
  } */
  .card-span {
    height: 76px;
    width: 70%;
    border-radius: 2px;
    background-color: #FBFBFC;
    box-shadow: 1px 1px 1px 0 rgba(133,141,157,0.27);
    display: inline-grid;
    line-height: 20px;
    padding: 16px;
    font-family: var(--font-bold);
  }
  .lefthead {
    font-family: var(--font-bold);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 80px;
    float: left;
    padding-left: 35%;
  }
  .righthead {
    font-family: var(--font-bold);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
    line-height: 80px;
  }
  .righthead1 {
    color: #9BA0AD;
    font-family: var(--font-bold);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    line-height: 80px;
  }
  .cardtext {
    color: #9BA0AD;
    font-family: var(--font-bold);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
  }
  .cardvalue {
    opacity: 0.6;
    color: #303B4B;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-family: var(--font-bold);
  }
  .cardvalue1 {
    opacity: 0.8;
    color: #303B4B;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-family: var(--font-bold);
  }
  .cardvalue2 {
    color: #303B4B;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-family: var(--font-bold);
  }
  .colorblue {
    color: var(--primary-blue);
  }
  .colorred {
    color: var(--primary-red);;
  }
  .colororange {
    color:var(--primary-orange);
  }
  .coloryello {
    color: var(--primary-yellow);
  }
  .colorlight {
    color: var(--light-green);
  }
</style>

