<template>
  <div>
  <DounetChart :donutProp="responceDonutChart"></DounetChart>
  <LeftBox :boxProp="responseLeftBox" :leftHeaderArray="leftHeaderArray" :rightHeaderArray="rightHeaderArray" :boxNumber="boxNumberArr" ></LeftBox>
  <AreaGraph :graphData="responseAreaChart" @dropdownGraphData="getData($event)"></AreaGraph>
  </div>
</template>

<script>
 import DounetChart from './components/DounetChart.vue'
 import LeftBox from './components/LeftBox.vue'
import AreaGraph from './components/AreaGraph.vue'
import 'mobiotics-dynamic-components-vue/dist/mobiotics_dynamic_components_vue.css'

export default {
  props: ['info'],
  name: 'App',
    data () {
    return {
      responseLeftBox: [],
      responceDonutChart: [],
      responseAreaChart: [],
      leftHeaderArray: {},
      subscriber: {},
      subscriberdata2: {},
      subscriberdata: {},
      subscriberdata1: {},
      rightHeaderArray: {},
      boxNumberArr: []
    }
    },
  components: {
    DounetChart,
    LeftBox,
    AreaGraph
    },
    methods: {
      getData (data) {
        console.log(data)
      },
      getTopData (data) {
        if (data.id === 'active') {
          this.subscriber.splice(0, 1, this.subscriberdata)
        } else {
          this.subscriber.splice(0, 1, this.subscriberdata2)
        }
        this.responseLeftBox.push(this.subscriber)
      },
      getDownData (data) {
        if (data.id === 'inactive') {
          this.subscriber.splice(1, 1, this.subscriberdata1)
        } else {
          this.subscriber.splice(1, 1, this.subscriberdata2)
        }
        this.responseLeftBox.push(this.subscriber)
      }
    },
    created () {
      this.boxNumberArr = ['active', 'inactive']
      this.leftHeaderArray = {
        selected: 'active',
        itemlist: [{name: 'ACTIVE', id: 'active'}, {name: 'OPEN', id: 'open'}],
        label: 'Ticket' 
      }
      this.rightHeaderArray = {
        selected: 'inactive',
        itemlist: [{name: 'INACTIVE', id: 'inactive'}, {name: 'OPEN', id: 'open'}],
        label: 'Ticket' 
      }
      this.subscriberdata.leftheadername = 'ACTIVE'
      this.subscriberdata.postunit = 'Hrs'
      this.subscriberdata.preunit = '$'
      this.subscriberdata.totalcount = 0
      this.subscriberdata.totalname = 'TOTAL'
      this.subscriberdata.leftheader = 'contenthrs'
      this.subscriberdata.leftheaderstyleclass = 'colorblue'
      this.subscriberdata.leftheaderdata = 100
      this.subscriberdata.leftheaderdataclass = 'colorblue'
      this.subscriberdata.blockdataname = [{name: 'Daily', value: 0, classstyle: 'card-title color1black'}, {name: 'Weekly', value: 0, classstyle: 'card-title color2black'}, {name: 'Monthly', value: 0, classstyle: 'card-title color3black'}]
      this.subscriber.active = this.subscriberdata
      this.subscriberdata1.leftheadername = 'INACTIVE'
      this.subscriberdata1.postunit = 'Hrs'
      this.subscriberdata1.preunit = '$'
      this.subscriberdata1.leftheader = 'contenthrs'
      this.subscriberdata1.leftheaderstyleclass = 'colorred'
      this.subscriberdata1.leftheaderdata = 120
      this.subscriberdata1.totalname = 'TOTALCOUNT'
      this.subscriberdata1.totalcount = 515
      this.subscriberdata1.leftheaderdataclass = 'colorred'
      this.subscriberdata1.blockdataname = [{name: 'Daily', value: 1200, classstyle: 'card-title color1black'}, {name: 'Weekly', value: 3500, classstyle: 'card-title color2black'}, {name: 'Monthly', value: 45, classstyle: 'card-title color3black'}]
      this.subscriber.inactive = this.subscriberdata1
      this.subscriberdata2 = {}
      this.subscriberdata2.leftheadername = 'OPEN'
      this.subscriberdata2.postunit = 'Hrs'
      this.subscriberdata2.preunit = '$'
      this.subscriberdata2.totalcount = 500
      this.subscriberdata2.totalname = 'TOTAL'
      this.subscriberdata2.leftheader = 'contenthrs'
      this.subscriberdata2.leftheaderstyleclass = 'coloryellow'
      this.subscriberdata2.leftheaderdata = 100
      this.subscriberdata2.leftheaderdataclass = 'coloryellow'
      this.subscriberdata2.blockdataname = [{name: 'Daily', value: 1860, classstyle: 'card-title color1black'}, {name: 'Weekly', value: 154, classstyle: 'card-title color2black'}, {name: 'Monthly', value: 160, classstyle: 'card-title color3black'}]
      this.subscriber.open = this.subscriberdata2
      this.responseLeftBox.push(this.subscriber)
      let subscriberdonut = {}
      subscriberdonut.type = 'type1'
      subscriberdonut.totalname = 'Total Hrs'
      subscriberdonut.totalunit = 'h'
      subscriberdonut.headername = 'SUBSCRIBERS'
      subscriberdonut.piechartclass = 'chart1'
      subscriberdonut.color = ['#3286EA', '#FF6363', 'teal']
      subscriberdonut.totalcount = 0.73
      subscriberdonut.chartdata=[{name: 'ACTIVE', count: 130}, {name: 'INACTIVE', count: 0.56}, {name: 'CLOSED', count: 230000, unit: 'h'} ]
      subscriberdonut.footer = {totalleft: 130, totalcenter: 0.56, totalright: 230000, left: 'Active', center: 'Inactive', right: 'Closed' }
      subscriberdonut.hoverclass = ['subscriptionvalue','subscriptiontext','subscriptionvalue1','subscriptiontext1']
      this.responceDonutChart.push(subscriberdonut)

      let data1 = [
      [{'index': 2012, 'count': 50}, {'index': 2013, 'count': 50}, {'index': 2014, 'count': 18}, {'index': 2015, 'count': 100}, {'index': 2016, 'count': 20}, {'index': 2017, 'count': 24}, {'index': 2018, 'count': 110}],
      [{'index': 2012, 'count': 150}, {'index': 2013, 'count': 250}, {'index': 2014, 'count': 280}, {'index': 2015, 'count': 190}, {'index': 2016, 'count': 120}, {'index': 2017, 'count': 124}, {'index': 2018, 'count': 140}]
      ]
      let dataindex = [{'index': 2012, 'count': 150}, {'index': 2013, 'count': 250}, {'index': 2014, 'count': 280}, {'index': 2015, 'count': 190}, {'index': 2016, 'count': 120}, {'index': 2017, 'count': 124}, {'index': 2018, 'count': 140}]
      let maxrange = Math.max.apply(Math, dataindex.map(function (o) {
        return o.count
      }))
      let datedata = []
      for (var i in dataindex) {
        datedata.push(dataindex[i].index.toString())
      }
      let coupon = {}
      coupon.headername = 'Coupons'
      coupon.areagraphid = 'coupon'
      coupon.maxrange = maxrange
      coupon.graphdata = data1
      coupon.xaxisdata = datedata
      coupon.color = ['#579FFF', '#FF6073']
      coupon.clippathid = 'ticketclip'
      coupon.clippath = 'url(#ticketclip)'
      coupon.dotlass = 'ticketdot'
      coupon.radioData = [{name: 'NEW', color: 'color-blue', value: 'true'}, {name: 'OPEN', color: 'color-red', value: 'true'}]
      coupon.dropDownData = [{label: 'Duration', itemlist: [{name: 'WEEKLY', id: 'week', forVal: 'period'}, {name: 'MONTHLY', id: 'month', forVal: 'period'}, {name: 'DAILY', id: 'day', forVal: 'period'}, {name: 'YEARLY', id:'year', forVal: 'period'}], selected: 'day'}, {label: 'Other', itemlist: [{name: 'WEEKLY', id: 'week', forVal: 'period1'}, {name: 'MONTHLY', id: 'month', forVal: 'period1'}, {name: 'DAILY', id: 'day1', forVal: 'period1'}, {name: 'YEARLY', id:'year', forVal: 'period1'}], selected: 'day1'}]
      this.responseAreaChart.push(coupon)
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
:root {
  --primary-grey: #1F2631;
  --white: #fff;
  --white-smoke: #f8f8f8;
  --dark-grey: #303b4b;
  --primary-blue: #0978FC;
  --secondary-blue: #5991FF;
  --light-grey: #7F8797;
  --light-blue: #F0F3F7;
  --border-color: #d8d8d8;
  --primary-red: #FF3366;
  --primary-orange: #FFA179;
  --primary-yellow: #FFD329;
  --light-blue: #9AC5FF;
  --light-green: #25E4B1;
  --grey: #4e4e4e;
  --error: #FF5777;
  --primary-red: #FF7979;
  --fade-grey: #b3b3b3;
  --light-yellow: #F8FAFE;
  --border-grey: #E5E5E5;
  --footer-white: #FEFEFE;
  --primary-green: #19E0A6;
  --secondary-red: #E84537;
  --font-medium: "Helvetica Neue Medium";
  --font-regular: "Helvetica Neue";
  --font-bold: "Helvetica Neue Bold"
}
</style>
